{% extends 'progress/page.html.twig' %}

{% block title %}Progreso de {{ user.username }}{% endblock %}

{% block main %}

    <div class="js-progress-table">

        <div class="js-new-progress-form-wrapper mb-4">
            {{ include('progress/_form_add.html.twig') }}
        </div>

        <table class="table table-bordered table-striped ">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Fecha</th>
                <th scope="col">Peso</th>
                <th scope="col">Medida</th>
                <th scope="col">&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            {% for progress in progresses %}
                {{ include('progress/_row_progress.html.twig') }}
            {% endfor %}
            </tbody>
        </table>

        <div id="js-progress-chart"></div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">

        let ProcessApp = {
            initialize: function ($wrapper) {
                this.$wrapper = $wrapper;

                this.$wrapper.find('.js-remove-progress').on(
                    'click',
                    this.progressDelete
                );

                this.$wrapper.find('.js-progress-new').on(
                    'submit',
                    this.handleNewFormSubmit.bind(this)
                );

            },

            progressDelete: function (e) {
                e.preventDefault();

                $(this).addClass('text-danger');

                $(this).find('.fas')
                    .removeClass('fa-trash-alt')
                    .addClass('fa-spinner')
                    .addClass('fa-spin');

                let deleteUrl = $(this).data('url');
                let $row = $(this).closest('tr');

                $.ajax({
                    url: deleteUrl,
                    method: 'DELETE',
                    success: function () {
                        $row.fadeOut();
                    }
                });
            },

            handleNewFormSubmit: function (e) {
                e.preventDefault();

                let $form = $(e.currentTarget);

                let $tbody = this.$wrapper.find('tbody');

                $.ajax({
                    url: $form.attr('action'),
                    method: 'POST',
                    data: $form.serialize(),
                    success: function (data) {
                        $tbody.prepend(data);
                        console.log(data);
                    },
                    error: function (jqXHR) {
                        $form.closest('.js-new-progress-form-wrapper')
                            .html(jqXHR.reponseText);
                    }
                });

            }
        };

        $(document).ready(function () {
            let $wrapper = $('.js-progress-table');
            ProcessApp.initialize($wrapper);
        });
    </script>
{% endblock %}