{% extends 'page.html.twig' %}

{% block title %}Account of {{ app.user.username }}{% endblock %}

{% block main %}
    <div>Cambio de contraseña para el usuario {{ app.user.username|capitalize }}</div>

    <div>Al enviar el formulario, se te cerrara la sesion</div>

    {{ form(form) }}
{% endblock %}
